@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 5 69% 7%;
    --card: 0 0% 100%;
    --card-foreground: 5 69% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 5 69% 7%;
    --primary: 350 96% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 96%;
    --secondary-foreground: 5 69% 7%;
    --muted: 0 0% 94%;
    --muted-foreground: 13 20% 32%;
    --accent: 0 0% 96%;
    --accent-foreground: 5 69% 7%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 350 96% 43%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 5 69% 7%;
    --foreground: 0 0% 100%;
    --card: 5 69% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 5 69% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 350 96% 43%;
    --primary-foreground: 0 0% 100%;
    --secondary: 7 40% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 7 30% 22%;
    --muted-foreground: 0 0% 80%;
    --accent: 7 40% 18%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 6 32% 25%;
    --input: 6 32% 25%;
    --ring: 350 96% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
